<div id="nav">
<nav class="navbar">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a class="page-scroll" routerLink="/home">Home</a>
    </li>
    <li>
      <a class="page-scroll" routerLink="/login">Log In</a>
    </li>
    <li>
      <a class="page-scroll" routerLink="/account">Account</a>
    </li>
    <li class='dropdown'>
      <a class="dropdown-toggle" data-toggle="dropdown" href="">Chargers
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a routerLink="/info">HK Electirc Chargers</a>
        </li>
        <li>
          <a routerLink="/station_point">Electirc Chargers Nearby</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="page-scroll" routerLink="/recycling_bin">Recycling Bin</a>
    </li>
  </ul>
</nav>
</div>


<router-outlet></router-outlet>
