h1, h2, h3 {
    margin-top: 0px; 
}
#pro h3 {
    margin: 20px auto;
}
#profile {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
}
.a {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
#button {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.i {
    background: none;
    border: none;
}
#info {
    margin-top: 10px;
}
#box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#binButtons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.btn {
    margin-right: 10px;
}
.chargerDetails {
    margin-left: 8px;
}
#pro {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}
#propic {
    height: 180px;
    width: 180px;
}
@media screen and (max-width: 480px) {
    #pro {
        display: none;
    }
    #box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #favorite {
        padding-left: 0px;
    }
}